.form-wrapper {
	border-radius: $borderRadiusMedium;
	border: 1px solid transparent;
	background-color: $white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	form {
		padding: 1rem 0 2rem 0;
		margin: 0 auto;
		width: 90%;
	}

	.form-heading {
		text-align: center;
		margin: 2rem 0 1rem 0;
	}

	.login-buttons-wrapper {
		justify-content: space-between;
		align-items: flex-end;
		display: flex;

		a {
			color: $orange;
		}
	}
}

input.primary-input {
	border-radius: $borderRadiusSmall;
	border: 1px solid transparent;
	background: $gray;

	&:focus {
		border-color: transparentize($orange, 0.4);
		box-shadow: 0 0 0 0.25rem transparentize($orange, 0.75);
	}
}

.btn-primary {
	border: 1px solid transparent;
	background: $iconGradient;
	padding: 0.5rem 1.2rem;
	color: $white;

	&:hover,
	&:focus,
	&:active {
		border-color: transparentize($orange, 0.4);
	}

	&:focus,
	&:active {
		box-shadow: 0 0 0 0.25rem transparentize($orange, 0.75) !important;
		background: $iconGradient;
	}
}

.danger-alert {
	border: 2px solid $orange;
	background: transparent;
	color: $black;
}

.success-alert {
	border: 2px solid $green;
	background: transparent;
	color: $black;
}

.alert-progress {
	background: transparentize($orange, 0.75);
	position: absolute;
	display: block;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
}

.success-progress {
	background: transparentize($green, 0.75);
	position: absolute;
	display: block;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
}